@charset "utf-8";

/* Forms */
fieldset {
    margin: 1.5em 0 0 0;
    padding: 0;
    border: 1px solid #BFBAB0;
    background-color: #F2EFE9;
}
legend {
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}
fieldset ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}
fieldset li {
    padding-bottom: 1em;
}
fieldset.submit {
    float: none;
    width: auto;
    border-style: none;
    padding-left: 12em;
    background-color: transparent;
}
/* right aligned label */
label {
    float: left;
    width: 20em;
    margin-right: 1em;
    text-align: right;
}
.red {
    color:#FF0000;
}
